[submodule "server/avr-arduino-cmake"]
	path = server/avr-arduino-cmake
	url = https://github.com/ubirch/avr-arduino-cmake.git
[submodule "client/spirit"]
	path = client/spirit
	url = https://github.com/boostorg/spirit.git
